*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.btn{
	height:50px;
	width:100px;
	border:2px solid red;
	padding:10px;
	border-radius:5px;
	position:relative;
	text-decoration:none;
	z-index:1;
	
}
.btn::after{
	content:" now";
	position:absolute;
	background:blue;
	height:0;
	width:100%;
	z-index:-1;
	left:0;
	top:0;
	transition:.5s;

	
	
}
.btn:hover::after{
	height:100%;
}

